* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
  
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  #header {
    background-color: blueviolet;
    height: 15vh;
    flex: 1 100%;
  }
  
  #footer {
    height: 15vh;
    background-color: brown;
    flex: 1 100%;
  }
  
  #left-sidebar {
    background-color: yellowgreen;
  
    flex: 2;
    height: 70vh;
  }
  
  #main-content {
    background-color: aqua;
    flex: 5;
    height: 70vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #right-sidebar {
    flex: 1;
    background-color: beige;
    height: 70vh;
  }
  