.wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: green;
  margin: 10px;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
}
.card-1 {
  background-color: red;
}
.card-2 {
  background-color: brown;
}
.card-3 {
  background-color: purple;
}
.card-4 {
  background-color: green;
}

@media (max-width: 590px) {
  .card {
    width: 100%;
  }
}
