body {
background-color: gray;
position: absolute;
}

.box-1{
background-color: yellow;
position: absolute;
width: 400px;
height: 400px;
top: 0px;
left: 0px;
margin: auto;
}

.box-2{
background-color: blue;
position: absolute;
width: 400px;
height: 400px;
top: 200px;
left: 200px;
}

.box-3{
background-color: green;
position: absolute;
width: 400px;
height: 400px;
top: 400px;
left: 400px;
}
