.wrapper {
  width: 100%;
  height: 700px;
  background-color: #D8B07E;
  position: relative;
}

.card-1 {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 10%;
  animation-name: ex1;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.card-2 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 20%;
  animation-name: ex2;
  animation-duration: 1.1s;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.card-3 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 30%;
  animation-name: ex3;
  animation-duration: 1.1s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}


@keyframes ex1 {
  0%   {top:10%;}
  25%  {top:15%;}
  50%  {top:20%;}
  75%  {top:25%;}
  100% {top:30%;}
}

@keyframes ex2 {
  0%   {top:10%;}
  25%  {top:15%;}
  50%  {top:20%;}
  75%  {top:25%;}
  100% {top:30%;}
}

@keyframes ex3 {
  0%   {top:10%;}
  25%  {top:15%;}
  50%  {top:20%;}
  75%  {top:25%;}
  100% {top:30%;}
}
