.wrapper {
  width: $widthwrapper;
  height: $heightwrapper;
  background-color: $colorwrapper;
  position: relative;
}

@mixin card {
  width: $widthcard;
  height: $heightcard;
  border-radius: 50%;
  position: absolute;
  top: $topcard123;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@mixin keyframes{
  0%   {top:10%;}
  25%  {top:15%;}
  50%  {top:20%;}
  75%  {top:25%;}
  100% {top:30%;}
}

.card-1 {
  @include card;
  background-color: $colorcard1;
  left: $leftcard1;
  animation-name: ex1;
  
}
.card-2 {
  @include card;
  background-color: $colorcard2;
  left: $leftcard2;
  animation-name: ex2;
  animation-delay: 0.25s;
  }

.card-3 {
  @include card;
  background-color: $colorcard3;
  left: $leftcard3;
  animation-name: ex3;
  animation-delay: 0.5s;
}


@keyframes ex1 {
  @include keyframes;
}

@keyframes ex2 {
  @include keyframes;
}

@keyframes ex3 {
  @include keyframes;
}
