$widthwrapper: 100%;
$heightwrapper: 700px;
$colorwrapper: #D8B07E;
$widthcard: 100px;
$heightcard: 100px;
$colorcard1: red;
$colorcard2: yellow;
$colorcard2: blue;
$topcard123: 20%;
$leftcard1: 10%;
$leftcard2: 20%;
$leftcard3: 30%;