@import '_mixins.scss';
@import '_variables.scss';
@import '_common.scss';

.card {
  @extend %rectangle;
  background-color: $primary;
  animation: flip 2s ease-in-out;

  &:hover {
    background-color: $secondary;
  }
}

@keyframes flip {
  0% {
    @include move(0,0);
  }

  25% {
    @include move($offset,0);
  }

  50% {
    @include move($offset, $offset);
  }

  75% {
    @include move(0, $offset);
  }

  100% {
    background-color: $secondary;
    @include move(0,0);
  }
}